<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <h1> this is the dynamic content sent fro the server <%=Kindofday%></h1>
    <!-- <%= %> is the ejs specifier which tells the ejs that the content will be pushed inside this place-->
</body>
</html>